.popup-wrapper {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 2;

  .overlay {
    top: 0%;
    background-color: #000000;
    opacity: 0.7;
    position: fixed;
    min-height: 100%;
    width: 100%;
    z-index: 3;
  }

  .modal {
    background-color: #2d4560;
    height: 40vh;
    width: 40vw;
    border-radius: 5px;
    color: white;
    z-index: 3;
  }

  .header {
    background-color: #113352;
    padding: 10px;

    .confirm {
      size: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .cancel {
      margin-left: auto;
    }
  }

  .modal-body {
    background-color: #2d4560;
    padding: 10px;
  }
}
