.fictional-waffle {
  .app-header {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #5da5ed;
    z-index: 1;
  }

  .container {
    padding: 130px 50px;
  }

  .section {
    background-color: #525252;
    height: 700px;
    width: 25%;
    border-radius: 15px;
    padding: 15px;
    margin-right: 50px;

    &:not(:first-child):not(:last-child) {
      width: 50%;
      padding: 15px 50px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .betting-table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
      background-color: #275789;
      font-size: 15px;
      text-transform: uppercase;
      color: #7d9cc6;
      tr {
        display: block;
      }
    }

    th {
      font-weight: lighter;
      text-align: left;
      padding: 10px 0;
      width:25%;
      width: 12rem;

      &:first-child {
        padding-left: 30px;
      }
    }

    tr:last-child {
      th:first-child {
        border-top-left-radius: 10px;
      }

      th:last-child {
        border-top-right-radius: 10px;
      }

      td:first-child {
        border-bottom-left-radius: 10px;
      }

      td:last-child {
        border-bottom-right-radius: 10px;
      }
    }

    tbody {
      display: block;
      width: 100%;
      overflow: auto;
      height: 24rem;
      tr {
        background-color: #133252;

        &:first-child {
          td {
            padding-top: 30px;
          }
        }

        &:last-child {
          td {
            padding-bottom: 30px;
          }
        }

        td {
          font-size: 13px;
          color: #fff;
          padding-bottom: 20px;
          width: 12rem;

          &:first-child {
            padding-left: 30px;
          }

          &:not(:first-child) {
            font-weight: bold;
          }
        }
      }
    }

    .profit {
      &--negative {
        color: #fd7979;
      }

      &--positive {
        color: #73fc7f;
      }
    }

    .btc-container {
      width: 10px;
      height: 10px;
      background-color: #fec41c;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-right: 3px;
    }

    .btc {
      width: 6px;
      height: 7px;
      transform: rotate(5deg);
    }
  }
}
